*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium';
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(184, 184, 184);
    background-image: url('https://www.narcity.com/media-library/an-apocalyptic-scene-of-a-city.jpg?id=25904227&width=1245&height=700&coordinates=40%2C0%2C40%2C0');
    background-size: cover;
}

h1 {
    font-family: monospace;
    position: relative;
    color:#bb1d1d;
    text-align: center;
    text-shadow: -1px 1px 0 #000,
            1px 1px 0 #000,
            1px -1px 0 #000,
            -1px -1px 0 #000;
}

h3 {
    text-align: center;
    border: 1px #252963;
    text-shadow: -1px 1px 0 #000,
            1px 1px 0 #000,
            1px -1px 0 #000,
            -1px -1px 0 #000;
    font-family: monospace;
    position: relative;
    color:#bb1d1d
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.image {
    display: block;
    height: 200px;
    width: 300px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeast(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: rgb(110, 110, 110);
    border: 3px solid #E20000;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}


#start-link {
    border: 3px solid #cabebe;
    background-color:#252963;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size: 2em;
    display: inline;
}

#start-link:hover {
    background-color: #ffffff; 
    color: #bb1d1d; 
}